header{
    width: 100%;
	  background:#757575 ;
	  height: 70px;
    margin:0%;
    padding:0%;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 90%;
    text-align: center;
    color:white;
}
.menu{
  font-size: small;
	list-style: none;
	position: absolute;
	top: 1px;
	right: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu2{
  font-size: small;
	list-style: none;
	position: absolute;
	top: 1px;
	right: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}
input[type=submit] {
    background-color: #717171;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 48%;
  }
  
  input[type=text], select, textarea {
    text-align: center;
    width: 50%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    margin-left: 25%;
    resize: vertical 
  }
  
  h3{
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:100px;
  }
  
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }

  li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }


  .slideshow {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: #000;
    margin: 20px 0;
}
.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 40s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 30s;
}
.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 40s infinite;
}
.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px 30px;
    font-family: Verdana, sans-serif;      
}
.slideshow-item-text h5 {
    font-size: 22px;
    margin: 0 0 10px 0;
    color: #BFE2FF;
}
.slideshow-item-text p {
    font-size: 15px;
    margin-bottom: 10px;
}
@keyframes slideanim {
    12.5%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }   
    37.5%{
        opacity: 0;
    }
}
@keyframes zoom {
    50%{
        transform: scale(1.3);
    }   
}
@media screen and (max-width: 1100px){
    .slideshow-item-text{
        max-width: 75%;
    }
}
@media screen and (max-width: 456px){
    .slideshow-item-text {
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
    .slideshow-item-text h5 {
        font-size: 18px;
    }
    .slideshow-item-text p {
        font-size: 13px;
    }
}